<h1>Listing my_moms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @my_moms.each do |my_mom| %>
      <tr>
        <td><%#= link_to 'Show', my_mom %></td>
        <td><%#= link_to 'Edit', edit_my_mom_path(my_mom) %></td>
        <td><%#= link_to 'Destroy', my_mom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%# binding.pry %>

<%= link_to 'New My mom', new_my_mom_path %>
